html,body {
    margin: 0;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}
.cabecalho{
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    border-bottom: solid 5px #4faddb;
}
.cabecalho a{
    text-decoration: none;
    color: #eee;
    font-size: 1.3em;
    padding: 10px 15px;
}
.cabecalho label{
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo img{
    height: 50px;
}

.container{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
}
@media screen and(min-width: 650px){
    .container{
        display: flex;
        flex-direction: column;
    }
}
.itens{
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    height: 150px;
    border: solid 5px #4faddb;
    border-radius: 10px 15px;
    padding: 10px;
    background-color: #333;
    color: white;
    margin: 35px;
    text-align: center;
}
a.visual{
    display:inline-block;
    padding: 10px 25px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: #4faddb;
    color: white;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    transition: all 0.2s;
}
a.visual:hover{
    background-color: #4095c6;
}

.rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4faddb;
    color: white;
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2px;
}
.rodape_art img{
    height: 25px;
}